body {
    font-size: 15pt;
    background-color: black;
    overflow: auto;
}
#introimg{
    width: 80%;
    height: 40vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    position: relative;
    left: 10%;
    top: 3vh;
}
#introtext{
    width: 100%;
    position: relative;
    height: 7vh;
    top: 4.5vh;
}
#introtext span{
    color: red;
    position: relative;
    font-size: 30px;
    margin-left: 10%;
    font-weight: 1000;
    text-decoration: underline;
    animation: 2s changetxt linear infinite;
}
#introtext span:nth-child(1){
    
}
#introtext span:nth-child(2){
    
}
#introtext span:nth-child(3){
    
}

@keyframes changetxt{
    0%{
      color: red;
    }
    25%{
      color: gold;
    }
    50%{
      color: green;
    }
    75%{
      color: purple;
    }
    100%{
      color: floralwhite;
    }
}

#mmgtxt{
    width: 99%;
    height: auto;
    border: 2px solid green;
    border-radius: 20px;
    position: relative;
    top: 5vh;
    color: red;
    margin-bottom: 4vh;
}
#mmgtxt span{
    margin-left: 2%;
}
#mmgtit{
    color: white;
    width: 65%;
    position: relative;
    border: 2px solid green;
    bottom: 0vh;
    background: black;
    left: 10%;
    border-radius: 10px; 
}
#readmore{
    width: 100%;
    height: 5vh;
    font-weight: 1000;
    background: green;
    border: 2px solid transparent;
    border-radius: 10px;
    margin-top: 2vh;
}
#info{
    width: 80%;
    height: 20vh;
    background-color: white;
    position: absolute;
    left: 10%;
    bottom: 50vh;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
}
#share{
    width: 80%;
    border-radius: 10px;
}